/* ------------------------------
global > color
------------------------------ */
:root {
    --color-bg-dark-brown: #665f0b;
    --color-bg-light-brown: #fff68c;
    --color-font-base: #665f0b;
    --color-white-font: #f9fafa;
}

/* ------------------------------
リセットcss
------------------------------ */
html {
    color: #000;
    background: #fff;
}

body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Safari */
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem; /* 16px */
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 1rem;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* ------------------------------
全体共通のスタイル
------------------------------ */

html {
    background-color: #fefefe;
}

body {
    line-height: 1.6;
    color: #1f1f1f;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/* ------------------------------
dorodownmenu-3steps
------------------------------ */
.header {
    padding: 40px 0 0;
    width: 100%;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 48px;
}
@media screen and (min-width: 768px) {
    .header-title {
        font-size: 32px;
    }
}

.header-title-description {
    display: block;
    font-size: 16px;
    text-align: center;
}

.header-nav {
    background-color: var(--color-bg-dark-brown);
    padding: 0 2.5%;
}
@media screen and (min-width: 768px) {
    .header-nav {
        padding: 0 10%;
    }
}

.header-nav-list {
    display: flex;
    justify-content: flex-start;
    position: relative;
    color: var(--color-white-font);
}
@media screen and (min-width: 768px) {
    .header-nav-list {
        justify-content: center;
        max-width: 1080px;
    }
}

.header-nav-list a {
    display: block;
}

.header-nav-item {
    width: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
@media screen and (min-width: 768px) {
    .header-nav-item {
        width: 20%;
    }
}

.header-nav-item:hover {
    background-color: var(--color-bg-light-brown);
    color: var(--color-font-base)
}

.header-nav-item--1st {
    width: 100%;
    background-color: var(--color-bg-dark-brown);
    position: absolute;
    top: 40px;
    left: 0;
    color: var(--color-white-font);
    visibility: hidden;
}

.header-nav-item--1st-index > a::after {
    content: '\f101';
    margin-left: 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.header-nav-item--1st-index:hover {
    background-color: var(--color-bg-light-brown);
    color: var(--color-font-base);
}

.header-nav-item:hover .header-nav-item--1st {
    visibility: visible;
}

.header-nav-item:hover .header-nav-item--2nd {
    visibility: hidden;
}

.header-nav-item--1st > li {
    position: relative;
}

.header-nav-item--2nd {
    width: 100%;
    background-color: var(--color-bg-dark-brown);
    position: absolute;
    top: 0;
    left: 100%;
    color: var(--color-white-font);
}

.header-nav-item--2nd-link:hover {
    background-color: var(--color-bg-light-brown);
    color: var(--color-font-base);
}

.header-nav-item--1st-index:hover .header-nav-item--2nd {
    visibility: visible;
}